body {
  font-family: Arial;
}

.board {
  width: 400px;
  height: 400px;
  float: left;
  margin: 10px;
}

.board table {
  border: solid 1px;
  width: 100%;
  height: 100%;
}

.board td {
  border: solid 1px;
}

#game td:hover {
  background-color: #ffff00;
  cursor: pointer;
}

