body {
  font-family: Arial;
}

.board {
  width: 400px;
  height: 400px;
  float: left;
  margin: 10px;
}

.board table {
  border: solid 1px;
}

.board td {
  width: 40px;
  height: 40px;
  border: solid 1px;
  text-align: center;
  background-color: #d0d0d0;
}

#game td:hover {
  cursor: pointer;
}

.bomb { background-color: #ff9d00 !important; color: black; }
.revealed { background-color: #f7f7f7 !important; }
.one { color: #0000ff; }
.two { color: #009933; }
.three { color: #cc0000; }
.four { color: #000099; }
.five { color: #990000; }
.six { color: #999900; }
.seven { color: #110011; }
.eight { color: #000000; }
